.logo {
  margin: auto 0.7rem;
  width: 7rem;
  height: 7rem;
}

.search {
  display: flex;
  justify-content: center;
  flex: 0 0 40%;

   @media only screen and(max-width:$bp-small) {
      order: 1;
      flex: 0 0 100%;
      margin-bottom: 1rem;
      background-color: var(--color-gray-light-2);
    }
  &_input {
    background-color: var(--color-gray-light-2);
    padding: 0.7rem 2.5rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;
    transition: all 0.2s;
    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-gray-light-3);
    }
  }
  &_input:focus + &_button {
    background-color: var(--color-gray-light-3);
  }
  &_button {
    border: none;
    background-color: var(--color-gray-light-2);

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }

  .fa-search {
    width: 2rem;
    color: var(--color-gray-dark-3);
  }
}

.user-nav {
  display: flex;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
  }
  & > *:hover {
    background-color: var(--color-gray-light-2);
  }

  .fa {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-gray-dark-2);
    position: relative;
  }
  &_notification {
    font-size: 0.8rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: -0.9rem;
    right: -0.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_user-photo {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
}

///////////////////////////////////////////////////
// side nac

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 2rem;

  @media only screen and(max-width:$bp-medium) {
    display: flex;
    margin: 0;
  }
  &_item {
    position: relative;
    padding-left: 1.5rem;
    z-index: 10;

    @media only screen and(max-width:$bp-medium) {
      flex: 1;
    }
    &:not(:last-child) {
      margin-bottom: 0.5rem;
      @media only screen and(max-width:$bp-medium) {
        margin: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      //  transform-origin: bottom;
      transition: transform 0.2s, width 0.4s 0.2s, background-color 0.1s;

    }

    &:hover::before,
    &_active::before {
      transform: scaleY(1);
      width: 100%;
    }
    &:active::before {
      background-color: var(--color-primary-light);
    }
  }
  &_link:link,
  &_link:visited {
    text-decoration: none;
    color: var(--color-gray-light-1);
    text-transform: uppercase;
    padding: 0.7rem 0;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;

    @media only screen and(max-width:$bp-medium) {
      justify-content: center;
      padding: 1.5rem;
    }

    @media only screen and(max-width:$bp-small) { 
      flex-direction: column; 
      padding: .5rem;
    }
  }

  .fa {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
    @media only screen and(max-width:$bp-small) {
      margin-right: 0;
    }
  }
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 3rem;
  color: var(--color-gray-light-4);

  @media only screen and(max-width:$bp-medium) {
    display: none;
  }
}

///////////////////

.gallery {
  display: flex;
  width: 100%;

  &_photo {
    width: 100%;
    display: block;
  }
}

////////////////////////////////////
//HOtel overview

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &_heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
    @media only screen and(max-width:$bp-small) {
     padding: .3rem .5rem;
     font-size: 1.2rem;
    }
  }
  &_stars {
    margin-right: auto;
  }
  .fa {
    width: 1.7rem;
    height: 1.7rem;
    color: var(--color-primary);
  }
  .fa-map-marker-alt {
    margin-right: 0.5rem;
  }
  &_location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center;
  }
  &_rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    align-self: stretch;
    padding: 0 2.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media only screen and(max-width:$bp-small) {
      padding: 0 1.5rem;
    }
  }
  &_rating-avarage {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: -0.7rem;

     @media only screen and(max-width:$bp-small) {
      font-size: 1.8rem;
    }
  }
  &_rating-count {
    font-size: 1.2rem;
    text-transform: uppercase;

     @media only screen and(max-width:$bp-small) {
      font-size: .8rem;
    }
  }
}

//////////////////////////////////////////////////
///btn inline

.btn-inline {
  border: none;
  font-size: inherit;
  color: var(--color-primary);
  background-color: transparent;
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 2px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s;

  & span {
    margin-left: 3px;
    transition: all 0.2s;
  }
  &:hover {
    color: var(--color-gray-dark-1);

    & span {
      margin-left: 8px;
    }
  }
  &:focus {
    outline: none;
    animation: pulsate 2s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: 0.2);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

/////////////////////////////////////
///// paragraph
.paragraph:not(:last-of-type) {
  margin-bottom: 2.2rem;
}

/////////////////////////////////////
///// list
.list {
  list-style: none;
  margin: 2rem 0;
  padding: 2rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;

  &_item {
    flex: 0 0 50%;
    margin-bottom: 0.6rem;
    padding-left: 1rem;
    border-right: 2px solid red green yellow blue;
  }

  &_item::before {
    content: "\003e";
    position: absolute;
    // margin-top: 0.6rem;
    margin-left: -0.9rem;
    margin-right: 0.5rem;
    color: var(--color-primary);
    // border: 0.5rem solid;
    // border-left-color: var(--color-primary);
    // border-right-color: transparent;
    // border-top-color: transparent;
    // border-bottom-color: transparent;
  }
}

/////////////////////////////////////
///// recommend

.recommend {
  font-size: 1.1rem;
  color: var(--color-gray-dark-3);

  display: flex;
  align-items: center;
  //justify-content: space-between;
  &_count {
    margin-right: auto;
  }
  &_friends{
    display: flex;
  }
  &_photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}

///////////////////////////////
/////// review
.review {
  position: relative;
  font-size: 1.3rem;
  width: 100%;
  background-color: #fff;
  margin-bottom: 3rem;
  padding: 3rem;
  overflow: hidden;
  &_text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
  }
  &_user {
    display: flex;
    align-items: center;
    font-size: 1rem;
    //justify-content: space-between;
    &-box {
      margin-right: auto;
      margin-left: 1rem;
    }
    &-name {
      font-size: 1.1rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    &-date {
      color: var(--color-gray-dark-3);
    }
  }
  &_photo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  &_rating {
    font-size: 2rem;
    color: var(--color-primary);
  }

  &::before {
    content: "\201c";
    position: absolute;
    top: -2.7rem;
    left: -1.3rem;
    line-height: 1;
    color: var(--color-gray-light-2);
    font-family: sans-serif;
    font-size: 20rem;
    z-index: 1;
  }
}

///////////////////////////////
//// Offer

.offer {
  text-align: center;
  padding: 3rem 0;

  &_book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.3rem;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(
    to right,
    var(--color-primary),
    var(--color-primary-dark)
  );
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
  }
  &_visible {
    padding: 2rem 5rem;
  }

  &_invisible {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0;
  }

  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary),
      var(--color-primary-dark)
    );
  }
  &:hover &_visible {
    transform: translateY(100%);
  }
  &:hover &_invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
